$green: #0a483b;
$white: #FFFFFF;
$gray: #E2DED0;

$gutter: 1rem;

$title-font: 'Work Sans', sans-serif; // regular + semi bold 600
$quote-font: 'Playfair Display', serif; //italic
$title-font-size: 2rem;
$text-font-size: 1.3rem;
$footer-font-size: 1.1rem;
